* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #0b1120;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
  display: none;
}

input, textarea, select, button {
  font-family: inherit;
}
